application:
  name: go-rest-api-boilerplate
external:
  services:
    customer: http://customer-api:1323
port: 2323
system:
  message: hello
otlp:
  endpoint: 127.0.0.1:4317
gorm:
  dsn: "root:password@tcp(127.0.0.1:3306)/go-rest-api?charset=utf8mb4&parseTime=True&loc=Local"
kafka:
  brokers:
    - localhost:9092